

<section data-ng-controller="learnMoreController">
	<div class="jumbotron text-center"  >
		<div class="row" >
			<div  class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
				<h1 class= "font-style" class="img-responsive text-center"  >GIF CANYON</h1>
			</div>
		</div>
		<br>
		<div class="row">
			<p class="lead">
				
			</p>
		</div>
	
	</div>
	<div>
		<h2>Browse & Upload animated GIFs!</h2>
		<p>GIF Canoyon is a place where you can find user uploaded animated GIFs of all kinds! Start browsing and creating by signing up!</p>
		
		<ul>
			<li>
				Click
				<em>Signup</em>
				to get started.
			</li>
			<li>
				Set up your profile and upload your very own animated GIF.
			</li>
			<li>
				Broswe other people's GIFs and comment on them, share them and like them!
			</li>
			<li>
				Have fun!
			</li>
			
		</ul>
	</div>
	
	
</section>
<div class="footer">
<br><center> © 2015 GIF Canyon, Inc.</center>
</div>