<section data-ng-controller="PhotosController" data-ng-init="findOne()">
    <div class="page-header">
        <h1>Edit Photo</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="update()" novalidate>
            <fieldset>
                <div class="form-group">
                          <div class="form-group"  >
                
                <input data-ng-model="update" data-ng-change="update.invertImage=update" type="submit" value="Invert" class="btn  btn-primary btn-default" ng-model-options="{ getterSetter: true }"></center>
                 <input data-ng-model="update" data-ng-change="update.greyscaleImage=update" type="submit" value="Greyscale" class="btn btn-default btn-primary" ng-model-options="{ getterSetter: true }"></center>
                  <input data-ng-model="update" data-ng-change="update.sepiaImage=update" type="submit" value="Sepia" class="btn btn-default btn-primary" ng-model-options="{ getterSetter: true }"></center>
                  <input type="submit" value="Update"  class="btn btn-default" style="float:right;"></center>
                </div>
                    <label class="control-label" for="name" >Photo Name</label>
                    <div class="controls">
                      <center>  <input type="text" data-ng-model="photo.name" id="name" class="form-control" placeholder="Name"  required >
                      
                     </center>
                    </div>
                </div>

               
  <center>  
                <div class="page-body">
            <image ng-src="{{photo.image}}"  ng-bind="update.sepiaImage" ng-bind="update.greyscaleImage" ng-bind="update.invertImage"  style="max-width:60%"/>
 <br><br>
        </div>
       
                <br><br><br>

				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
 <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p>Copyright &copy; Filter Canyon, Inc 2015</p>
                </div>
            </div>
        </div>
    </footer>
</section>